aiogram==2.19
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
astroid==2.11.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
Beaker==1.11.0
black==22.1.0
Brlapi==0.8.3
btrfsutil==5.16.2
CacheControl==0.12.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chrome-gnome-shell==0.0.0
click==8.0.4
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.2
decorator==5.1.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docutils==0.16
executing==0.8.3
filelock==3.4.2
frozenlist==1.3.0
greenlet==1.1.2
html5lib==1.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.1
injector==0.19.0
ipython==8.1.1
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
Jinja2==3.0.3
jsons==1.6.1
lazy-object-proxy==1.7.1
lensfun==0.3.3
libfdt==1.6.1
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
louis==3.21.0
lxml==4.8.0
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
meson==0.62.0
more-itertools==8.10.0
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
netsnmp-python==1.0a1
ordered-set==4.0.2
packaging==20.9
parso==0.8.2
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.0
ply==3.11
progress==1.6
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
pycairo==1.21.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.11.2
PyGObject==3.42.0
pylint==2.12.2
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PySide2==5.15.3
python-xlib==0.31
pytz==2022.1
pyxdg==0.27
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
shiboken2==5.15.3
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.2.0
team==1.0
toml==0.10.2
tomli==2.0.1
traitlets==5.1.1
typing-extensions==4.1.0
typish==1.9.3
urllib3==1.26.9
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.14.0
yarl==1.7.2
zipp==3.7.0
